div{
    display: inline-block;
    background-color: aquamarine;
    text-align: center;
    border: 1px solid rgb(250, 1, 1);
    height: 200px;
    width: 200px;
}
div:hover {
    background-color: rgb(247, 7, 207);
}